@use './_variables';

:root {
  background-color: var(--page-bg-color);
  color: var(--text-main-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
